<div class="col-md-12">
     <div>
          <h3>Truy vấn dữ liệu </h3>
     </div>
     <p>Truy vấn dữ liệu là một trong các thao tác cơ bản, được thực hiện bởi câu lệnh SELECT. Đây là câu lệnh có cú pháp phức tạp. Những mệnh đề chính của SELECT là : </p>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;SELECT</p>
     <p>Retrieves rows from the database and allows the selectic of one or many rows or columns from one or many tables . The full Syntax of the SELECT statement is complex , but the main clauses can be summarized as :</p>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;SELECT select list [ INTO new_table ] </p>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;FROM table_source_list </p>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;[WHERE search _ condition ] </p>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;[ GROUP BY group_by_expression ] [ HAVING search _ condition ]</p>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;[ ORDER BY order_expression [ ASC | DESC ] </p>
     <p>Chúng ta xem xét các tùy chọn của câu lệnh này</p>
</div>