<div *ngIf="baitap && baitap.STT_l == 1&&baitap.STT_lch==3">

    <div class="article-clean" style="background-color:white; height:auto;margin:0px; ">
      <div class="container" style="margin: 0px; text-align:center;width:auto;">
          <div class="row" style="margin: 0px 50px;">
              <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2" style="background-color: #ffffff;">
                   <div class="intro"><video width="400" height="240" controls>
                    <source src="assets/{{baitap.linktailieu}}" type="video/mp4">
                    {{baitap.Tentailieu}}
                  </video></div> 
 
              
 
                  <div style="width: 18%;height: 50px;position: absolute;right: 0px; margin: 2% 42% 4% 0px;">
                      <!-- <i class="fa fa-heart" type ="submit" style="font-size: 30px;color: rgb(247,183,51);" (click)="clickthich()"></i> -->
 
                      <button mat-mini-fab color="warn" type ="submit" style="font-size: 20px; color: rgb(255, 255, 255); margin-top: 2%;" (click)="updatelike()"> <mat-icon>favorite</mat-icon></button>

                        <!-- <mat-icon >favorite</mat-icon> -->

                   </div>
                      <!-- <button type="submit" class="btn btn-success"> thich</button> -->
                   <div style="position: absolute; display:inline-block; margin:20px 0px 0px 30px">
                      <p style=" color: black rgb(255,255,255);font-family: Cookie, cursive;float:right;" >{{baitap.Luotthich}} lượt thích </p>
                   </div>
                  
                  <h1 class="text-center" style="color:  black ;font-size: 30px;font-family: Cookie, cursive;margin: 80px 0px 0px 0px;" > {{baitap.Tentailieu}}</h1>
                  <div class="text">
                      <p class="text-center"><span class="by" style="color: rgb(255,255,255);font-family: Cookie, cursive;;">by</span> <a href="{{baitap.Nguontailieu}}" target ="_blank" style="color: rgb(247,183,51);font-size: 20px;font-family: Cookie, cursive;">{{baitap.Nguontailieu}}</a></p>
                  </div>
                  <hr>
              </div>
          </div>
      </div>
    </div>
</div>
 
  
