<div class="col-md-12">
    <div>
        <h3> CÁC HÀM KẾT TẬP ( Aggregate Functions )  </h3>
    </div>
        <p>Hàm kết tập nhận vào một tập hợp các giá trị của một thuộc tính và trà vị kết quả là một giá trị duy nhất.</p>
        <h5>5.1. Các hàm kết tập  </h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AVG: Tính giá trị trung bình  </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MIN: Tính giá trị nhỏ nhất  </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MAX: Tính giá trị lớn nhất  </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUM : Tính tổng  </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COUNT :Đếm số giá trị  </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AVG: Tính giá trị trung bình : </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AVG: Tính giá trị trung bình : </p>
        <h5>5.2. Hàm kết tập trên nhóm </h5>
        <p>Có nhiều trường hợp người ta muốn dùng hàm kết tập không phải trên toàn bộ tập hợp giá trị mà là trên từng nhóm các tập hợp giá trị. Hàm kết tập xác định cho mỗi nhóm một giá trị tương ứng.</p>
       
</div>
    