<div class="col-md-12">
    <div>
        <h3>BAO ĐÓNG ( Closure )</h3>
    </div>
    <h5> 4.1. Bao đóng của tập hợp các phụ thuộc hàm  </h5>
    <p>Xét lược đồ quan hệ s = ( 	&Omega; , 	&zeta;	 ) , trong đó 	&Omega;= 	&#123;	 A1 , A 2, . . . , An	&#125;là tập hợp các thuộc tính và 3 là tập hợp các phụ thuộc hàm . </p>
    <h6>Định nghĩa</h6>
    <p>Bao động của &zeta; , ký hiệu &zeta;+ , là tập hợp các phụ thuộc hàm được suy diễn từ 3 . Như vậy , theo kết quả trên , 	&zeta;+ có được bằng cách áp dụng hệ tiên để Armstrong lên 	&zeta; nhiều lần . </p>
    <p>Dễ thấy rằng bao đóng &zeta;+  của &zeta;thì chứa &zeta; và số phần tử của &zeta;+  là rất lớn , khó tính toán và liệt kê hết được . </p>
    <h5> 4.2. Tính chất của bao đóng   </h5>
    <p>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.&nbsp;Tính phản xạ: F ⊆ F+<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.&nbsp;Tính đơn điệu: Nếu  F ⊆ G thì F+ ⊆ G+<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.&nbsp;Tính lũy đẵng: (F+ )+ = F+ <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.&nbsp;(FG) +  ⊇ F+ G+<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.&nbsp;(F+ G) + = (FG+ ) +  =  (FG) +
    </p>
</div>