<div class="col-md-12">
        <div>
            <h3>Kiểm tra ràng buộc bằng Trigger</h3>
        </div>
             <h5>13.1. Trigger  </h5>
             <p>Trigger là một loại thủ tục được lưu trữ sẵn ( stored procedure ) đặc biệt , nó tự động thực thi khi người dùng phát biểu câu lệnh hiệu chỉnh dữ liệu trên bảng . sql cho phép tạo ra nhiều trigger đối với phát biểu INSERT , UPDATE hoặc DELETE , gọi chung là sự kiện thay đổi dữ liệu . </p>
             <p>Trigger giống như các thủ tục khác , nó có thể chứa các phát biểu SQL đơn giản cũng như phức tạp . Nó được tự động thực thi khi có những thay đổi dữ liệu cụ thể xảy ra và không thể thực thi bằng tay . Khi một trigger thực thi thi người ta nói rằng nó đã kích hoạt.</p>
    
    </div>
              