<div>
    <h3>HỆ QUẢN TRỊ CƠ SỞ DỮ LIỆU</h3>
</div>

    <h5>4.1. Hệ quản trị cơ sở dữ liệu DBMS</h5>
    <p>Người ta có nhiều cách phát biểu để mô tả hệ quản trị cơ sở dữ liệu </p>
    <p>&nbsp;&nbsp;Hệ quản trị cơ sở dữ liệu là một tập hợp các chương trình. Chúng cho phép người dùng tạo ra cơ sở dữ liệu, duy trì hoạt động của cơ sở dữ liệu và điều khiển tất cả các truy xuất đến cơ sở dữ liệu. </p>
    <p>&nbsp;&nbsp;Các hệ quản trị cơ sở dữ liệu là những ứng dụng được thiết kế đặc biệt để tương tác với người dùng, với những ứng dụng khác và bản thân cơ sở dữ liệu để quản lý và phân tích dữ liệu. Một hệ quản trị cơ sở dữ liệu đa năng là một phần mềm được thiết kế để cho phép định nghĩa, tạo, truy vấn, cập nhật và quản trị các cơ sở dữ liệu. </p> 
    <p>&nbsp;&nbsp;Một cách tổng quát, hệ quản trị cơ sở dữ liệu là phần mềm hoặc là hệ thống phần mềm được thiết kế để điều khiển toàn bộ các chiến lược truy xuất cơ sở dữ liệu, tức là: định nghĩa, tạo lập, duy trì và cung cấp các truy xuất có điều khiển đối với một cơ sở dữ liệu. Ngoài ra, hệ quản trị cơ sở dữ liệu còn hỗ trợ khả năng lưu trữ, sửa chữa, xóa và tìm kiếm thông tin trong một cơ sở dữ liệu. </p>
    <h5>4.2. Hoạt động của một hệ quản trị cơ sở dữ liệu </h5>
    <p>Hoạt động của một hệ quản trị cơ sở dữ liệu có thể được tóm tắt như sau:</p>
    <p>&nbsp;&nbsp;Người dùng đưa ra yêu cầu truy xuất cơ sở dữ liệu bằng ngôn ngữ dữ liệu
    <p>&nbsp;&nbsp;Hệ quản trị cơ sở dữ liệu tiếp nhận và phân tích yêu cầu. </p>
    <p>&nbsp;&nbsp;Hệ quản trị cơ sở dữ liệu xem xét các lược đồ và ánh xạ.</p>
    <p>&nbsp;&nbsp;Hệ quản trị cơ sở dữ liệu thực hiện các thao tác trên cơ sở dữ liệu và trả về kết quả theo yêu cầu.</p>
    <p>Có rất nhiều hệ quản trị cơ sở dữ liệu khác nhau, từ phần mềm nhỏ chạy trên máy tính cá nhân cho đến những hệ quản trị cơ sở dữ liệu phủ tạp chay trên một hoặc nhiều máy tính. Các hệ quản trị cơ sở dữ liệu phổ biến được nhiều người biết đến là MySQL, Oracle, PostgreSQL, SQL Server, DB2, Informix, ... Phần lớn các hệ quản trị cơ sở dữ liệu này hoạt động tốt trên nhiều hệ điều hành khác nhau như Linux, Unix và MacOS ngoại trừ SQL Server của Microsoft chi chạy trên hệ điều hành Windows.</p>
    <h5>4.3. Ngôn ngữ cơ sở dữ liệu (Database Language)</h5>
    <p> Một hệ quản trị cơ sở dữ liệu cho phép các chương trình ứng dụng và người dùng tương tác với cơ sở dữ liệu. Để thực hiện sự tương tác đó hệ quản trị cơ sở dữ liệu hỗ trợ cho người dùng ngôn ngữ cơ sở dữ liệu. Ngôn ngữ cơ sở dữ liệu thường được phân loại theo cách như sau: </p>
    <p>1.Ngôn ngữ định nghĩa dữ liệu DDL (Data Definition Language) </p>
    <p>Là ngôn ngữ cho phép định nghĩa tên, cấu trúc và các quan hệ giữa các đối tượng... </p>
    <p>Ví dụ, để định nghĩa bảng dữ liệu KHACHHANG có các thuộc tính makh, hikh, dekh, dtkh người ta sử dụng câu lệnh như sau:<br> 
        CREATE TABLE khachhang (<br> 
        makh char(4) PRIMARY KEY,<br> 
        htkh char (20),<br>  
        dekh char(30),<br>  
        dtkh integer)<br> 
    </p>
    