<div class="col-md-12">
    <div>
        <h3>Ngôn ngữ truy vấn có cấu trúc SQL</h3>
    </div>
         <h5> 2.1 . Các thành phần của SQL </h5>
         <p> Ngôn ngữ truy vấn có cấu trúc SQL là một thành phần P1 h phần phổ biến của ngôn ngón SO SƠ dữ liệu để truy vấn dữ liệu từ một hệ quản trị cơ sở dữ liệu . Ngôn ngữ t . văn có cấu trúc SQL là một tiêu chuẩn ANSI / ISO gồm có hai thành phần là : </p>
         <h6>&nbsp;1. Ngôn ngữ định nghĩa dữ liệu DDL ( Data Definition Language )</h6>
         <p> Là một trong những phần chính của SQL . Các câu lệnh này dùng để định nghĩa cấu trúc của cơ sở dữ liệu , bao gồm định nghĩa các dòng , các cột . các bảng dữ liệu , các chỉ số và một số thuộc tỉnh khác liên quan đến cơ sọ . dữ liệu ví dụ như vị trí của file , ANSI / ISO phân DDL thành 2 lớp :</p>
         <p>&nbsp; a . DDL gồm các lệnh để định nghĩa cấu trúc của cơ sở dữ liệu CREATE DATABASE , CREATE TABLE , CREATE VIEW , LALTER TABLE . . . .</p>
         <p>&nbsp; b . DCL ( Data Control Language ) gồm các lệnh để thiết lập quyền truy cập trên dữ liệu : GRANT , REVOKE . . . . </p>
         <h6>&nbsp;2 . Ngôn ngữ thao tác dữ liệu DML ( Data Manipulation Language ) </h6>
         <p>DML được phân thành 2 lớp : </p>
         <p>&nbsp;a. Lớp dùng để cập nhật dữ liệu : INSERT , UPDATE , DELETE . . . </p>
         <p>&nbsp;b. Lớp dùng để truy xuất dữ liệu : SELECT . . . </p>
         <h5>2.2. Cú pháp câu lệnh theo BNF </h5>
         <p>Câu lệnh SQL thường gồm có 2 thành phần : từ khóa và tự do người dùng định nghĩa . Củ pháp của câu lệnh SQL được giới thiệu theo dạng mở rộng của BN như sau :</p>
         <h6>&nbsp;1. Chữ hoa đại diện cho từ khóa . </h6>
         <h6>&nbsp;2. Chữ thường đại diện cho các từ do người dùng định nghĩa </h6>
         <h6>&nbsp;3. Ký hiệu AB chi sự lựa chọn hoặc là A hoặc là B . </h6>
         <h6>&nbsp;4. Ký hiệu 	&#123; 	&#125; chỉ thành phần bắt buộc phải có .</h6>
         <h6>&nbsp;5. Ký hiệu chỉ thành phần tùy chọn ( không bắt buộc ) . </h6>
         <h6>&nbsp;6. Ký hiệu . . . . . . chi thành phần có thể lặp lại .</h6>

</div>
          

    

