<div id="yy">
    <!-- <nav class="navbar navbar-expand-md custom-header ">
        <div class="container-fluid" style=" background-color:#4ABDAC"><a class="navbar-brand" href="#" style=" color:white;font-size:33px;text-shadow: -1px 2px white; font-family: 'Alex Brush', cursive;">Q&amp;A Database</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbar-collapse" style="font-family: 'Times New Roman', Times, serif;">
                <ul class="nav navbar-nav links">
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""  routerLinkActive="active" >Tổng quan CSDL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="" [routerLink]="'/page2'">Đại số quan hệ</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="" [routerLink]="'/page3'">Phụ thuộc hàm &amp; khóa</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link custom-navbar" href=""[routerLink]="'/page4'">Chuẩn hóa LĐQH</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link custom-navbar" href=""[routerLink]="'/page5'">SQL&nbsp;</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link custom-navbar" href="" routerLink="/page6" style="background-color: #f7b733;color: white;border:2px solid white">Thông tin HP</a></li>
                </ul>
                <div class="nav navbar-nav ml-auto"><li><a href="" routerLink=""><img src="assets/Image/ynguyen.png" width="40" height="40" style= "text-align:right; margin-right: 10px;"></a></li></div>
        </div>
        </div>
    </nav> -->
    <nav class="navbar navbar-expand-md custom-header ">
        <div class="container-fluid" style=" background-color:#4ABDAC"><a class="navbar-brand" href="#" style=" color:white;font-size:35px;margin-top:20px;margin-right:90px;text-shadow: -1px 2px white;font-family: 'Alex Brush', cursive;">Q&amp;A Database</a>
            <div
                class="collapse navbar-collapse" id="navbar-collapse" style="font-family: 'Times New Roman', Times, serif;">
                <ul class="nav navbar-nav links">
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""  routerLinkActive="active" style="background-color: #f7b733;color: white;border:2px solid white">Tổng quan CSDL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="" [routerLink]="'/page2'">Đại số quan hệ</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="" [routerLink]="'/page3'">Phụ thuộc hàm &amp; khóa</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link custom-navbar" href=""[routerLink]="'/page4'">Chuẩn hóa LĐQH</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link custom-navbar" href=""[routerLink]="'/page5'">SQL&nbsp;</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link custom-navbar" href="" routerLink="/page6">Thông tin HP</a></li>
                </ul>
                <div class="nav navbar-nav ml-auto"><li><a href="" routerLink=""><img src="assets/Image/ynguyen.png" width="40" height="40" style= "text-align:right; margin-right: -15px;"></a></li></div>
        </div>
        </div>
    </nav>
    <div id="wrapper" style="font-family: 'Times New Roman', Times, serif;">
        <div class="page-content-wrapper"style="margin:10px 95px;padding:20px; background-color:white; height:650px; overflow:auto">
            <div class="container-fluid" >
                <div class="row"style="color:black;font-size:16px">
                    <div class="col-md-12" style="text-align: center;margin-top: 40px;" >
                        <p><a href="http://www.cit.ctu.edu.vn/decuong/CT180.pdf" target="_blank" title="Đề cương chi tiết học phần" style="color:black">Đề cương chi tiết học phần cơ sở dữ liệu</a></p>
                        <p><a href="https://docs.google.com/spreadsheets/d/10ojyVBYcNbIYC_az-BupBXfXiH2p2zDmS9FCrb6y-ko/pub?gid=0"target="_blank" title="Lịch học" style="color:black">Lịch học thực hành</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
