<div class="col-md-12">
        <div>
            <h3>Tạo dự phòng và phục hồi cơ sở dữ liệu</h3>
        </div>
             <h5> 14.1. Sao lưu một cơ sở dữ liệu đã có ( Backup ) </h5>
             <p>BACKUP DATABASE &#123; DatabaseName &#125;	TO DISK = &#123;BackupFileName &#125;</p>
             <p>&nbsp;&nbsp;DatabaseName </p>
             <p>&nbsp;&nbsp;&nbsp;&nbsp;Đặc tả cơ sở dữ liệu đã có </p>
             <p>&nbsp;&nbsp; BackupFileName</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Đặc tả đường dẫn đến nơi lưu trữ file dự phòng  </p>            
             <p>Ví dụ: Cơ sở dữ liệu qlnv đã có , tạo file dự phong qlnv _ backup.bak trên ổ đĩa G : </p> 
             <p>&nbsp;&nbsp;BACKUP DATABASE qlnv TO DISK = ' G:\glnv backup.bak ' </p>
        </div>
              