<div class="col-md-12">
    <div>
        <h3>KHÓA TRÊN LƯỢC ĐỒ QUAN HỆ </h3>
    </div>
    <p>Trên một lược đồ quan hệ luôn luôn tồn tại một thuộc tính hoặc một tập hợp các thuộc tính có khả năng biểu diễn duy nhất tất cả các thuộc tính còn lại , nghĩa là giá trị của chúng cho phép xác định duy nhất tất cả giá trị của các thuộc tính còn lại . </p>
    <p>Ví dụ :</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Mã sinh viên xác định tất cả các thông tin của sinh viên mang mã đó như : htsv , nssv , qqsv . . <br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Tập hợp hợp gồm ngày gọi , thời gian bắt đầu , thời gian kết thúc , số máy gọi đi , số máy gọi đến xác định duy nhất thông tin về cuộc đàm thoại , số thuê bao điện thoại . 
        </p>
    <p>Tập hợp các thuộc tính có tính chất như vậy là hình ảnh trực quan của khóa trên một lược đồ quan hệ .</p>
</div>