
    <div>
        <h3>Cách tiếp cận bằng hệ cơ sở dữ liệu</h3>
    </div>
        <p> Cơ sở dữ liệu và công nghệ cơ sở dữ liệu giữ một vai trò quan trọng trong hậu hết các lĩnh vực xã hội nơi mà máy tính được sử dụng , bao gồm kinh tế , giáo dục , y tế . . . Để hiểu được nền tảng của hệ cơ sở dữ liệu chúng ta bắt đầu bằng việc giới thiệu các khái niệm cơ bản trong lĩnh vực này . </p>
        <h5> 2.1. Cơ sở dữ liệu </h5>
        <p>Người ta có nhiều cách phát biểu gần giống nhau để mô tả một cơ sở dữ liệu như sau : </p>
        <p>Cơ sở dữ liệu là một tập hợp các dữ liệu có liên quan với nhau mang tinh chất dùng chung . Các dữ liệu này sẽ được sử dụng để hỗ trợ các hoạt động của một tổ chức nào đó . Cơ sở dữ liệu có thể được xem như một kho lưu trữ dữ liệu , được định nghĩa một lần và sau đó được truy xuất bởi nhiều người dùng khác nhau </p>
        <p>Cơ sở dữ liệu hiểu theo cách định nghĩa kỹ thuật thì đó là một tập hợp dữ liệu có cấu trúc . Thuật ngữ này được dùng nhiều trong công nghệ thông tin nên thường được hiểu dưới dạng một tập hợp liên kết các dữ liệu , đủ lớn và được ghi trên thiết bị lưu trữ như : đĩa từ , băng từ . . .</p>
        <p>Về mặt nghiệp vụ , người ta thường hiểu cơ sở dữ liệu là tập hợp rất lớn về các loại dữ liệu tác nghiệp của một cơ quan , xí nghiệp . . . Các loại dữ liệu này được lưu trữ tập trung hay phân tán trên các thiết bị lưu trữ của các mạng máy tính . Cơ sở dữ liệu được các chương trình ứng dụng truy xuất và khai thác trực tuyến hay tương tác.</p>

          

    

