<section id="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4" style="margin: 0px 0px 30px 0px;height: 221px;"><a href="#" routerLink="/page1" class="main" (click)="convert()"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary" style="color: rgb(254,209,54)"></i><i class="fa fa-adjust fa-stack-1x fa-inverse" ></i></span>
                <h4 class="section-heading">Tổng quan CSDL</h4></a>
            </div>
            <div class="col-md-4" style="height: 221px;"><a href="index2.html" class="main"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-plus-circle fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Đại số quan hệ</h4></a>
            </div>
            <div class="col-md-4" style="height: 221px;"><a href="index3.html" class="main"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-lock fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Phụ thuộc hàm và khóa</h4></a>
            </div>
            <div class="col-md-4"><a href="index4.html" class="main"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-table fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Chuẩn hóa lược đồ quan hệ</h4></a>
            </div>
            <div class="col-md-4"><a href="index5.html" class="main"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-database fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">SQL</h4></a>
            </div>
            <div class="col-md-4"><a href="index6.html" class="main"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-exclamation-circle fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Thông tin học phần</h4></a>
            </div>
        </div>
    </div>
</section>

