<div class="col-md-12">
        <div>
            <h3>Thủ tục và hàm vô hướng</h3>
        </div>
        <h5>12.1. Tạo thủ tục</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;CREATE PROCEDURE 	&#123; procedure name 	&#125; [ @ parameter] <br>
            &nbsp;&nbsp;&nbsp;&nbsp;AS [ BEGIN ] statements [ END ] </p>
        <h5>12.2. Thực hiện thủ tục</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;EXECUTE &#123; procedue _ name &#125; [@ parameter ]  </p>
        <h5>12.3. Xóa thủ tục</h5>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;DROP PROCEDURE &#123;procedure _ name &#125; </p>

</div>
