<!-- <div class="footer-dark"> -->
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                 <div class="col-sm-6 col-md-4 item" >
                   
                    <h3  style=" margin-left:45px;">     Trường đại học Cần Thơ</h3>
                    <a   style="font-family: 'Alex Brush',cursive; margin-left:45px;font-size: 40px; color: #f8d24b; margin-top: 10px;">Q&A Database</a>
                  <!--  <ul>
                        <li><a href="#" style="font-family: 'Droid Serif';">Web design</a></li>
                        <li><a href="#" style="font-family: 'Droid Serif';">Development</a></li>
                        <li><a href="#" style="font-family: 'Droid Serif';">Hosting</a></li>
                    </ul>-->
                </div> 
                <div class="col-sm-6 col-md-3 item">
                    <h3>Thành viên nhóm:</h3>

                    <ul>
                        <li><a >Nguyễn Thị Thu Thảo</a></li>
                        <li><a >Nguyễn Thị Ý</a></li>
                        <li><a  >Quách Thu Vân</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-offset-1 item text" style="padding-right:50px" >
                    <h3>Mục tiêu của chúng tôi</h3>
                    <p >Q&amp;A Database được tạo ra nhằm mục đích giúp sinh viên đang theo học học phần Cơ sở dữ liệu có thêm công cụ hỗ trợ học tập và thực hành.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright" >Copyright © 2019</p>
        </div>
    </footer>
<!-- </div> -->

