 /* .features-blue {
  /* color: #fff; */
  /* background-color: #eeeeee; */
  /*background-color: #184e8e;
  padding-bottom: 30px; */
/* } */ 

@media (max-width:767px) {
  .features-blue {
    padding-bottom: 10px;
  }
}

.features-blue p {
  color: rgba(255,255,255,0.6);
}

.features-blue h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-blue h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-blue .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 60px;
}

@media (max-width:767px) {
  .features-blue .intro {
    margin-bottom: 40px;
  }
}

.features-blue .item {
  min-height: 150px;
  padding-left: 80px;
  margin-bottom: 20px;
  background-color:white;
  border-top: 1px solid #f8d24b;
  border-left: 2px solid #f8d24b;
}

@media (max-width:767px) {
  .features-blue .item {
    min-height: 0;
  }
}
.features-blue .item:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(248, 210, 75);
  background: rgb(248, 210, 75,0.8);
  
  transition: all .35s;
  border-radius: 15px;
  
}



.features-blue .item:hover:after{
  width: 100%;
}
/* .features-blue .item:hover {
  /* color:#22255a; */
  /* background-color:#f8e7aa; */
  /* border: 2px solid #22255a; */
/* } */ 
.features-blue .item .name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color:#282c3d
 
}

.features-blue .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.features-blue .item .icon {
  font-size: 40px;
  /* color: #ffcc1e; */
  float: left;
  margin-left: -65px;
}

.main {
  text-decoration: none;
 /* color:black; */
}
.main:hover{
  color:#22255a;
  text-decoration: none;
} 
.col-sm-6.col-md-4.item:hover{
  color:#22255a;
}


.footer #icon{
  height: 2em;
  text-align: center;
  z-index: 999;
}

.footer .icon-footer{
  width:80px;
  height:78px;
  position: fixed;
  right: 110px;
  bottom: 0px;
}





/* nav  */

.navigation-clean-search {
  /* background: #fff; */
  /* padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  position: fixed;
  top:0px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 9px 15px;
  background: #05305a;
  border-bottom: 1px solid #32bee9;
  z-index: 1;
}

@media (min-width:768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean-search .navbar-brand {
  font-weight: bold;
  color: inherit;
  margin-left: 40px;
}
/* 
.navigation-clean-search .navbar-brand:hover {
  color: #222;
}

.navigation-clean-search .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover, .navigation-clean-search .navbar-toggler:focus {
  background: none;
}

.navigation-clean-search .navbar-toggler {
  color: #888;
}

.navigation-clean-search .navbar-collapse, .navigation-clean-search .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav a.active, .navigation-clean-search .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active, .navigation-clean-search.navbar-light .navbar-nav a.active:focus, .navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
  background: #f8d24b;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover, .navigation-clean-search .action-button:focus {
  background: #f8d24b;
}

.navigation-clean-search .form-inline label {
  color: #ccc;
}

.navigation-clean-search .form-inline .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}

.navigation-clean-search .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
} */


/* hover button */
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav li{
    float: none; 
  width: 100%;
}


nav li a{
  background-color: #ffd071;
  border-radius: 8px;
  font-size: 15px;
  display: block; 
  width: 100%; 
  padding: 8px 15px 8px 15px;
  border-left: 5px solid; 
  position: relative; 
  z-index: 2;
  list-style-type: none;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
}
    
nav li a:hover{ border-bottom: 0px; color: #fcc557;  border-radius: 8px;}
nav li:first-child a{ border-left: 5px solid #ffd071; border-right: 5px solid #ffd071;  }
/* nav li:nth-child(2) a{ border-left: 10px solid #ffd071; } */
/* nav li:nth-child(3) a{ border-left: 10px solid #f0776c; } */
/* nav li:last-child a{ border-left: 10px solid #ffd071; }  */

nav li a:after { 
  border-radius: 8px;
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}

nav li a:hover:after{ width: 100%;  border-radius: 8px; }
nav li:first-child a:after{ background: white; }
/* nav li:nth-child(2) a:after{ background: #ffd071; }
nav li:nth-child(3) a:after{ background: #f0776c; }
nav li:last-child a:after{ background: #1abc9c; }
 */


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
