<!-- <nav class="navbar  navbar-expand-lg fixed-top " id="mainNav" style="background-color: #4abdac">
<div class="container"  style="background-color:#4abdac">
      <a class="navbar-brand" href="#page-top" style="color: white;font-weight: bold;font-size:50px;font-family:Cookie, cursive;margin:0px 500px 100px 0; position: fixed;">Q&amp;A Database&nbsp;</a>
    

      <div class="searchbar">
      <input class="search_input" type="text" name="" placeholder="Search..." style="font-size: 15px;">
      <img src="assets\Image\search-icon.png" class="search_icon"/>
     </div> 

</div>
</nav> -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>gdassets/kiemtra</title>
    <link rel="stylesheet" href="assets/kiemtra/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/kiemtra/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/kiemtra/css/Article-List.css">
    <link rel="stylesheet" href="assets/kiemtra/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/kiemtra/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/kiemtra/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="assets/kiemtra/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="assets/kiemtra/css/styles.css">
    <link rel="stylesheet" href="assets/kiemtra/css/Vertical-Mobile-Collapsible-Menu.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush">
</head>

<body>

<nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="background-color: #4abdac; height: 80px">
          <div class="container">
              <a class="navbar-brand" href="#" style="font-family: 'Alex Brush', cursive; font-size: 40px; color: white;">Q&A Database</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navcol-1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <!-- <form class="form-inline mr-auto" target="_self">
                      <div class="form-group">
                          <label for="search-field"><i class="fa fa-search"></i></label>
                          <input class="form-control search-field" type="search" name="search" id="search-field">
                        </div>
                  </form>
                  <a class="btn btn-light action-button" role="button" href="#">Action </a> -->
                  
                </div>
          </div>
      </nav>


      <script src="assets/kiemtra/js/jquery.min.js"></script>
      <script src="assets/kiemtra/bootstrap/js/bootstrap.min.js"></script>
      <script src="assets/kiemtra/js/Sidebar-Menu.js"></script>
  </body>
  
  </html>