<div class="footer">
    <div id="icon" >
             <div class="icon1" id="y"><img src="assets/Image/video.jpg"  class="icon-footer" />  </div>  
             <div class="icon1"><img src="assets/Image/book.jpg"  class="icon-footer" />  </div>  
             <div class="icon1"><img src="assets/Image/tl.jpg"  class="icon-footer" />  </div> 
             <div class="icon1" id="button"><img  src="assets/Image/test.png" class="icon-footer"/></div> 
            
    </div>
      <div id="container">
         <div id="cont">
            <div class="footer_center" style="margin-left: 200px">
               <h3 style="text-align:center; color:white">Câu 1: Cơ sở dữ liệu là gì?</h3>
              
            </div>
         
         </div>
       </div>
  </div>