<div class="col-md-12">
    <div>
        <h3>PHÉP TÁCH BẢO TOÀN PHỤ THUỘC HÀM  </h3>
    </div>
    <h5>3.1. Phụ thuộc hàm chiếu</h5>
    <p>Xét lược đồ  quan hệ s= (	&Omega;	 , 	&zeta;	 ) ,	&Omega;	= 	&#123; A1 , A2 , .., An	&#125; là tập hợp các thuộc tính ,  	&zeta;	 là tập hợp có phụ thuộc hàm và Z=Q  là một tập hợp có các thuộc tính .</p>
    <h6>Định nghĩa:</h6>
    <p> Tập hợp các phụ thuộc hàm chiếu của 	&zeta; trên tập hợp các thuộc tính Z được ký hiệu và định nghĩa  như sau:</p>  
    <h6>&nbsp;&nbsp;&nbsp;&nbsp;<h4 style="display:inline">π</h4>z<h4 style="display:inline">( &zeta; ) = 	&#123; X &rarr;Y ∈    &zeta;+ / XY ⊆  Z 	&#125; </h4></h6>
</div>