<div class="col-md-12">
    <div>
        <h3>PHỤ THUỘC HÀM ( Functional Dependency ) </h3>
    </div>
    <p>Trên một hệ cơ sở dữ liệu nói chung người ta thường dùng khái niệm phụ thuộc hàm để diễn tả các ràng buộc toàn vẹn . Cơ sở lý thuyết về chuẩn hóa dữ liệu , một việc làm cần thiết , sẽ dựa trên khái niệm phụ thuộc hành và khóa.</p>
    <p> Ta thấy rằng mỗi bộ giá trị ( masv , mamh , lanthi ) xác định duy nhất diemso của một sinh viên , hoặc là masv xác định một và chỉ một htsv , nssv. qqsv  . . . của một sinh viên . Đây là các ràng buộc toàn vẹn có tính trực quan . Chúng ta nghiên cứu khái niệm phụ thuộc hàm trên cơ sở toán học , là cái thường dùng để biểu diễn các ràng buộc toàn vẹn .</p>
    <h5> 2.1. Phụ thuộc hàm</h5>
    <p>Xét lược đồ quan hệ với tập hợp các thuộc tính  	&#123;A1 , A2 , …,An	&#125; . X và Y là hai tập hợp con khác rỗng.</p>
    <h6>Định nghĩa</h6>
    <p>Nói rằng X xác định Y hay Y phụ thuộc hàm vào X , ký hiệu X &rarr; Y , nếu và chỉ nếu với mỗi giá trị của X xác định một giá trị duy nhất của Y . </p>
    <p>Nói cách khác , X xác định Y hay Y phụ thuộc hãm vảo X , ký hiệu X &rarr; Y , nếu vả chỉ nếu : với mỗi quan hệ sinh ra từ lược đó quan hệ , nếu hai bộ bất kỳ của nó có cùng giá trị trên X thì chúng cũng sẽ có cùng giá trị trên Y , tức là :</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ∀R ∈ lược đồ , ∀t1,t2   ∈ R nếu t1[ X ] = t2[ X ] thì t1[ Y ] = t2[ Y ]</p>  

</div>
          

    

