<div class="col-md-12">
        <div>
            <h3>Cài đặt ràng buộc toàn vẹn</h3>
        </div>
             
             <p> Hầu hết các hệ quản trị cơ sở dữ liệu đều cung cấp các công cụ để cài đặt ràng buộc toàn vẹn trên các bảng dữ liệu. Các ràng buộc có có tùy chọn thông thường là: </p>
             <p>&nbsp;&nbsp;Toàn vẹn thực thể với tùy chọn PRIMARY KEY , UNIQUE KEY .</p>
             <p>&nbsp;&nbsp;Toàn vẹn tham chiếu với tùy chọn FOREIGN KEY . </p>
             <p>&nbsp;&nbsp;Toàn vẹn miền giá trị với tùy chọn CHECK , DEFAULT . </p>
             <p>&nbsp;&nbsp;Toàn vẹn về logic với tùy chọn TRIGGER </p>
             <p>Việc cài đặt các rằng buộc toàn vẹn có thể thực hiện trong khi tạo bảng bằng câu lệnh CREATE TABLE hoăc sau khi tạo bảng bằng ALTER TABLE . </p>

    
    </div>
            
