<div class="col-md-12">
    <div>
        <h3>HỆ TIÊN ĐỀ VỀ PHỤ THUỘC HÀM VÀ PHÉP SUY DIỄN LOGIC</h3>
    </div>
    <h5>3.1. Phụ thuộc hàm được suy diễn từ một tập hợp phụ thuộc hàm  </h5>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;∀ t1,t2 ∈ R ,  nếu t1[ X ] = t2[ X ] thì t1[ Y ] = t2[ Y ] </p>
    <h5>3.2. Hệ tiên đề Armstrong cho các phụ thuộc hàm  </h5>  
    <p>Trên thực tế, việc kiểm chứng một phụ thuộc hàm có được suy diện từ một tập hợp phụ thuộc hàm hay không, theo định nghĩa như trên, là khó thực hiện. Chúng ta sẽ tìm hiểu đặc trưng của tập hợp phụ thuộc hàm và khả năng suy diễn của một tập hợp phụ thuộc hàm theo hệ tiên đề.</p>
    <h5>3.3	Suy diễn bằng hệ tiên đề Armstrong</h5>  
    <p>Từ các kết quả trên cho phép người ta đồng nhất suy diễn bằng định nghĩa với suy diện bằng hệ tien đè Armstrong trên tập hợp các phụ thuộc hàm, cái thứ hai có nhiều thuận tiện trong tính toán.</p>
   
</div>