<div class="col-md-12">
    <div>
        <h3>Truy vấn lồng</h3>
    </div>
       <p>Trong nhiều trường hợp điều kiện truy vấn ở mệnh đề WHERE cần đến thông in ở các bảng khác . Để thực hiện việc này người ta sử dụng một câu lệnh CELECT con khác lòng vào trong điều kiện ở mệnh    để WHERE của Câu lệnh SELECT cha . SELECT con này tạo nên dạng truy vấn lồng . Cấu trúc của truy vấn lồng thường có dạng như sau : </p>
       <p>&nbsp;SELECT . . . . . . . . . . .<br>
          &nbsp;FROM . . . . . . . . . . .<br>
          &nbsp;WHERE search condition (<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SELECT . . . . … .<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FROM . . . . … ..<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[ WHERE . . . . . ] )
       
</div>
          

    
