<div class="col-md-12">
  

    <div>
        <h3>PHÉP TOÁN QUAN HỆ </h3>
    </div>
        
        <h5>4.1	Phép chọn (selection) </h5>
        <p>Xét R là quan hệ trên lược đó quan hệ. Ký hiệu E là một biểu thức logic gồm các phép toán số học và logic 	&lt;,	&lt;=, >, >=, ≠, ∧, v, ¬ đặt tả một điều kiện. </p>
    
        <p>Phép chọn σ trên quan hệ R theo điều kiện E, ký hiệu σE ( R ) có kết quả là một tập hợp con của R, gồm các bộ t ∈ R thỏa điều kiện E: </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;σE ( R ) = &#123;t/ t ∈ R ∧ t(E) &#125;, ký hiệu t(E) nghĩa t thỏa điều kiện E</p>
        <h5>4.2. Phép chiếu ( Projection )  </h5>
        <p>Xét R là quan hệ trên lược đó quan hệ  . X là một tập hợp con khác rỗng</p>
        <p>Phép chiếu quan hệ R trên X , ký hiệu π X (R )  có kết quả là tập hợp các bộ t ∈ R nhưng chỉ lấy giá trị trên X .</p>
    
        <p>Phép chọn σ trên quan hệ R theo điều kiện E, ký hiệu σE ( R ) có kết quả là một tập hợp con của R, gồm các bộ t ∈ R thỏa điều kiện E: </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;π X (R ) = 	&#123;	t/ t ∈ R ∧ t[E ]	&#125;	, ký hiệu t[X]  nghĩa t nhận giá trị trên X</p>
        <p> Chú ý rằng các bộ giống nhau trong bảng kết quả chi được giữ lại một.</p>
        <h5> 4 . 3  Phép hợp ( Union ) </h5>
</div>
    