<div class="col-md-12">
  

    <div>
        <h3>Tạo bảng và cập nhật dữ liệu </h3>
    </div>
        
        <h5>4.1. Để tạo ra một bảng người ta dùng câu lệnh sau  </h5>
        <p>CREATE TABLE Creates a new table.</p>
        <p><i>Syntax</i></p>
        <p>&nbsp;&nbsp;CREATE TABLE ( TableName } ( ( ColumnList Constraint ] )</p>
        <p>TableName : đặc tả tên của bảng mới<br> 
           ColumnList : đặc tà các cột trong bảng , cách nhau bằng dầu phẩy<br>
           DataType : dặc tả kiểu dữ liệu của cột<br>
           Column Constraint : đặc tả các tùy chọn . Một vài tùy chọn quen thuộc là :</p>
        <p>&nbsp;&nbsp; [ NULL | NOT NULL ] </p>
        <p>Là những từ khóa quyết định giá trị null là được phép trong cột hay không . NULL là được phép ( mặc định ) , NOT NULL là không được phép . </p>
        <p>&nbsp;&nbsp;[ PRIMARY KEY ]</p>
        <p> Là từ khóa ấn định ràng buộc toàn vẹn thực thể đối với một hoặc nhiều cột thông qua một chi mục duy nhất . Mỗi bảng chỉ có một ràng buộc PRIMARY KEY để làm khóa chính . </p>
        <p>&nbsp;&nbsp;[ UNIQUE ]</p>
        <p>Là là từ khóa ấn định ràng buộc toàn vẹn thực thể cho một hoặc nhiều cột thông qua một chi mục duy nhất . Một bảng có thể có nhiều ràng buộc UNIQUE . </p>
        <p>&nbsp;&nbsp;[ DEFAULT ]</p>
        <p> Là từ khóa đặc tả giá trị mặc nhiên được gán cho cột khi giá trị giản cho cột không được chỉ định tường minh trong quá trình</p>
</div>
    