<div class="col-md-12">
<div>
    <h3>Tạo và cập nhật cơ sở dữ liệu </h3>
</div>
    
    <h5> 3.1 Để tạo một cơ sở dữ liệu người ta dùng câu lệnh  </h5>
    <h6>CREATE DATABASE </h6>
    <p>Creates a new database and the files used to store the database , or attaches a database from the files of a previously created database . </p>
    <p>Syntax</p>
    <h6>CREATE DATABASE ( database _ name ) </h6>
    <p>Ví dụ , tạo cơ sở dữ liệu tên qlnv CREATE DATABASE qlnv </p>
    <p>Lệnh này tạo ra hai file hệ thống là : qlnv . mdf và Qlnv_log . ldf</p> 
</div>