<div class="col-md-12">
    <div>
        <h3>SỰ THÔNG THƯỜNG GIỮA CÁC LƯỢC ĐỒ QUAN HỆ </h3>
    </div>
        <p>Hiệu quả của cơ sở dữ liệu quan hệ được phát huy nhờ vào sự thông thương dữ liệu từ quan hệ này sang quan hệ khác . Ví dụ xét cơ sở dữ liệu gồm các lược đồ quan hệ :  </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SINHVIEN ( masv , hoten , nssv ) <br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KETQUA ( manh , masv , diem ) <br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TKBIEU ( manh , ngay , gio ) <br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOTRI ( manh , phong ) . </p>
        <h5>1 . Để trả lời câu hỏi sinh viên Hoang Hoa Tham có điểm môn học Cơ sở dữ liệu là bao nhiêu người ta có sự thông thường dữ liệu như hình vẽ sau: </h5>
        <img style="margin-left: 200px;"src="assets/Image/chuong2phan2_1.png" height="350px" width="450px"/>
        <h5> 2 . Để trả lời câu hỏi sinh viên Hoàng Hoa Tham học môn gì , ở phòng nào vào 9h sáng thứ hai người ta có sự thông thương dữ liệu như hình vẽ sau : </h5>
        <img style="margin-left: 200px;" src="assets/Image/chuong2phan2_2.png" height="700px" width="900px"/>
<div>  

          

    

