<div class="col-md-12">
    <div>
        <h3>CÁC DẠNG CHUẨN 1NF , 2NF , 3NF , BCNF </h3>
    </div>
    <h5>4.1 Dạng chuẩn 1 - 1NF ( First Normal Form )  </h5>
    <p>Lược đồ quan hệ s = (	&Omega; , 	&zeta;	) được gọi là dạng chuẩn 1NF khi và chỉ khi mọi thuộc tính của nó đều chỉ chứa các giá trị nguyên tố ( giá trị nguyên tố là 2 trị không thể tách thanh các giá trị đơn ) .</p>
    <h5>4.2 Dạng chuẩn 2 - 2NF ( Second Normal Form )  </h5>
    <p>Lược đồ quan hệ s = (&Omega; , &zeta;) được gọi là dạng chuẩn 2NF khi và chỉ khi là dạng chuẩn 1NF và mọi thuộc tính không khóa phụ thuộc hàm đầy đủ vào khóa.</p>
    <h5>4.3 Dạng chuẩn 3 - 3NF ( Third  Normal Form )   </h5>
    <p>Lược đồ quan hệ s = (&Omega; , &zeta;) được gọi là dạng chuẩn 2NF khi và chỉ khi là dạng chuẩn 2NF và mọi thuộc tính không khóa phụ thuộc hàm bắc cầu vào khóa thông qua thuộc tính không khóa.</p>
    <h5>4.4 Dạng chuẩn BCNF ( Boyee Codd Normal Form ) </h5>
    <p>Lược đồ quan hệ s = (&Omega; , &zeta;) được gọi là dạng chuẩn 2NF khi và chỉ khi với mỗi phụ thuộc hàm X &rarr; Y ∈   &zeta;+  thì </p>
    <p>Hoặc đó là phụ thuộc hàm tầm thường (tức là Y ⊆   X )</p>
    <p>Hoặc là vế trái X chính là siêu khóa (tức là (X)+ = &Omega;</p>

</div>